body {
  background-color: rgb(59, 58, 58);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  
}

h1 {
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
}

#result {
  width: auto;
  font-size: 20px;
  color: rgb(15, 219, 131);

}

img {
  width: 50px;
  height: auto;
}

img:hover {
  box-shadow: 0 0 5px sandybrown;
}
img:active {
  border: 3px solid sandybrown;
  text-decoration: sandybrown;
}



div {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
